<a href="https://colab.research.google.com/github/Visal-Se/Google-Collab/blob/main/Practice_Functions_(M_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SAVE A COPY** OF THIS NOTEBOOK TO YOUR OWN DRIVE **BEFORE YOU START**

# Predict the result

You should first read the code and predict what it will do. After predicting, you should run the code.

Code 1

In [1]:
def yell(name, phrase):
   print(f"{name}, {phrase.upper()}!")

def count(num):
   print(num, "one-thousand...")

#----main----
yell("Adam", "I’m counting to three!")
count(1)
count(2)
count(3)
yell("Adam", "get in here right now")

Adam, I’M COUNTING TO THREE!!
1 one-thousand...
2 one-thousand...
3 one-thousand...
Adam, GET IN HERE RIGHT NOW!

Code 2

In [4]:
def yell(name, phrase):
   print(f"{name}, {phrase.upper()}!")

def count(num):
   print(num, "one-thousand...")

#----main----
yell("Adam", "You have three seconds")
count(3)
count(2)
count(1)
yell("Adam", "Where are you?")

Adam, YOU HAVE THREE SECONDS!
3 one-thousand...
2 one-thousand...
1 one-thousand...
Adam, WHERE ARE YOU?!

Code 3

In [5]:
def one():
   print("In function one.")

def two():
   print("In function two.")
   one()

def three():
   print("In function three.")
   two()

#----main----
one()

In function one.

Code 4

In [6]:
def one():
   print("In function one.")

def two():
   print("In function two.")
   one()

def three():
   print("In function three.")
   two()

#----main----
one()
two()
three()

In function one.
In function two.
In function one.
In function three.
In function two.
In function one.

Code 5

In [7]:
def calculate(num1, num2, num3):
   total = num1 + num2 + num3
   average = total / 3.0
   print(f"{num1} + {num2} + {num3} = {total}")
   print(f"average = {average}")
   print()

#----main----
calculate(10, 10, 15)
calculate(80, 100, 0)

10 + 10 + 15 = 35
average = 11.666666666666666

80 + 100 + 0 = 180
average = 60.0

# Write your own

Write code snippets to do the following.

Output 6

Define a function that takes a catch phrase as a parameter and prints out that catch phrase three times in a row.

e.g. `catch_phrase("Cool Beans!")` would produce

```
Cool Beans!
Cool Beans!
Cool Beans!
```

Note that “Cool Beans!” is not intended to be a static phrase. We could pass a different value to catch_phrase() and get that phrase repeated instead.

In [10]:
def catch_phrase(phrase):
  print(phrase*3)
catch_phrase("Cool Beans!\n")

Cool Beans!
Cool Beans!
Cool Beans!

Output 7

Define a function that takes a number of inches as a parameter and prints out that  height in feet and inches. There are 12 inches in a foot. You will need to use both division and modulus to solve this problem.

e.g. `calc_height(73)` would produce

```
73 inches = 6 feet 1 inches
```